#main{
  background-color: whitesmoke;
  width: 80%;
  border-radius: 20px;
  margin-top: 30%;
  margin-bottom: 20%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 300px;
}
#startbutton{
  margin-bottom: 20px;
  margin-top: 10px;
}
h1{
  padding-top: 40px;
}